<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->

<div style="text-align:center">
  <h1>{{title}}</h1>
  <table align="center">
  
    <tr align="center">
      <td>
          <mat-card>
            <mat-card-title>Visão da Câmera</mat-card-title>
            <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                    [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
                    (initError)="handleInitError($event)" [mirrorImage]=true>
            </webcam>

            <mat-card-actions class="linha-buttons">
              <button mat-raised-button (click)="captureSnapshot();">Capturar Frame</button>
              <button mat-raised-button (click)="toggleWebcam();">Ocultar/Exibir</button>
              <button mat-raised-button (click)="deleteSnapshot();">Apagar Captura</button>
            </mat-card-actions>
          </mat-card>
          <br/>
      </td>
    </tr>
  </table>  
  <br/>
</div>
<mat-divider></mat-divider>
<div [hidden]="!haveImage" class="snapshot">
  <table align="center">
    <tr>
      <td>
        <mat-card>
          <mat-card-title>Select region of interest:</mat-card-title>
          <canvas #canvas id="canvas" width="1024" height="576" (mousedown)="mouseDown($event)" 
                  (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" ></canvas>
          <mat-card-actions class="linha-buttons">
            <button mat-raised-button (click)="ProcessImage()">Definir ROI</button>
            <button mat-raised-button (click)="DownloadImage()">Baixar Imagem</button>
          </mat-card-actions>
        </mat-card>
      </td>
    </tr>
  </table>  
</div>

<div>
  <!-- <canvas #canvas2 id="canvas2" width=640 height=480></canvas> -->
  
</div>

<!-- <h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul> -->

<app-messages></app-messages>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>