h1 {
  font-size: xx-large;
}
.snapshot {
  text-align: center;
}

.snapshot canvas {
  max-width: 1024px;
  max-height: 576px;
}

ul.links {
  padding-bottom: 20px;
}

#canvas {
  text-align: center;
  border: 2px solid rgba(0,0,0,0.54);
  transition: 300ms;
  border-radius: 4px;
  cursor: crosshair;
}

button {
  text-transform: capitalize;
  font-size: x-large;
}

.linha-buttons {
  display: table-cell;
}

.linha-buttons button {
  display: table-cell;
  margin-right: 8px;
  align-items: center;
}

.mat-card {
  background-color: lightgrey;
}

.mat-card-title {
  font-size: x-large;
}